.jobs {
  padding-bottom: 9.5rem;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 6.2vw;
    right: 0;
    height: 10vw;
    min-height: 11rem;
    background-color: var(--accent-color);
    border-radius: 0 0 19rem 19rem;
    z-index: -1;

    @media (min-width: 1920px) {
      top: 12rem;
      height: 18rem;
    }
  }

  .section__title {
    margin-top: 3vw;
    margin-bottom: 5rem;

    @include for-desktop {
      margin-top: 4vw;
      margin-bottom: 5rem;
    }
  }

  &__inner {

    & .tabs {
      display: flex;
      flex-direction: column-reverse;
      row-gap: 5rem;

      @include for-desktop {
        flex-direction: row;
        justify-content: space-between;
        column-gap: 4.5rem;
      }

      &__nav {
        flex: 0 1 30%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 2.5rem;

        @include for-desktop {
          max-width: 44.5rem;
          align-items: flex-start;
          row-gap: 2.7rem;
        }

        &-btn {
          position: relative;
          font-weight: 500;
          font-size: clamp(1.4rem, 1rem + 1.5vw, 3.6rem);
          letter-spacing: 0.08em;
          color: var(--light-color);
          text-align: left;
          outline: none;
          border: none;
          background-color: transparent;
          cursor: pointer;

          &:hover {
            color: var(--accent-color);
          }

          &--active::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            background-color: var(--accent-color);
          }
        }
      }

      &__content {
        flex: 1 1 auto;
        max-width: 108rem;
      }

      &__panel {
        position: relative;
        margin-left: -9%;
        margin-right: -9%;
        width: calc(100% + 18%);
        height: 100%;
        min-height: 30rem;
        font-size: 0;
        aspect-ratio: 16 / 9.5;
        box-shadow: inset 0 0 2px var(--accent-color);

        @include for-small {
          margin-left: 0;
          margin-right: 0;
          width: 100%;
          border-radius: 2.7rem;
        }


        & picture {
          position: absolute;
          inset: 0;

          &::before {
            content: '';
            position: absolute;
            inset: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
            z-index: 2;

            @include for-small {
              border-radius: 2.7rem;
            }
          }

        }

        & img {
          position: absolute;
          inset: 0;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
          z-index: 1;

          @include for-small {
            border-radius: 2.8rem;
          }
        }

        &-box {
          position: absolute;
          inset: 0;
          display: flex;
          flex-direction: column;
          padding: 3vw 4vw;
          font-weight: 500;
          font-size: clamp(1.2rem, 0.8rem + 0.75vw, 2.4rem);
          letter-spacing: 0.08em;
          color: var(--light-color);
          z-index: 3;
        }
      }
    }
  }

  &-btn {

    &__box {
      flex: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 6vw;
    }
  }
}
