.graph-modal {
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    max-width: 162.5rem;
    color: #ffffff;
    background-color: #252424;
  }

  &__close {
    top: 3vw;
    right: 4vw;
    width: clamp(1rem, 0.8rem + 1.7vw, 4.3rem);
    height: clamp(1rem, 0.8rem + 1.7vw, 4.3rem);
    background-image: url(../img/cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .modal-consultation {
    margin: 0 1.5rem;
    padding: 5vw;
    max-width: 82.3rem;

    & .graph-modal__content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    & .modal__title {
      margin: 0;
      margin-bottom: 2.5vw;
      max-width: 15ch;
      font-weight: 500;
      font-size: clamp(3.6rem, 2.9rem + 2.8vw, 6.4rem);
      text-align: center;
    }

    & .modal__subtitle {
      margin: 0;
      margin-bottom: 2.5vw;
      font-weight: 400;
      font-size: clamp(1.6rem, 1.2rem + 1.25vw, 3.6rem);
      text-align: center;
    }

    & .modal__descr {
      font-weight: 500;
      font-size: 2.4rem;
      font-size: clamp(1.2rem, 0.6rem + 0.8vw, 2.4rem);
      text-align: center;
      letter-spacing: 0.08em;
      color: #494949;
    }

    & .form {
      margin-bottom: 2vw;
      width: 100%;
      max-width: 40rem;
      align-items: center;

      & .input-box {
        width: 100%;
        position: relative;

        &:last-of-type {
          margin-bottom: 1.5vw;
        }

      }

      & .form__input {
        width: 100%;
        padding: 1.4vw 3.5vw 1.6vw;
        font-weight: 500;
        font-size: clamp(1.4rem, 1rem + 1.2vw, 2.4rem);
        color: var(--light-color);
        background-color: transparent;
        border: 1.5px solid #FFFFFF;
        border-radius: 3rem;
      }
      & .just-validate-error-label {
        margin-left: 2vw;
      }

    }
  }
}
