<header class="header">
  <div class="header__wrapper">
    <div class="header__container _container">
      <div class="header__body">
        <div class="header__main">
          <a href="" class="header__logo">Funiro.</a>
          <div class="header__menu menu">
            <nav class="menu__body" data-menu>
              <ul data-spollers="1023,max" class="menu__list">
                <li class="menu__item">
                  <a href="" class="menu__link">Products</a>
                  <button data-spoller type="button" class="menu__arrow btn-reset">
                    <svg class="icon icon--arrow-down">
                      <use xlink:href="#icon--arrow-down"></use>
                    </svg>
                  </button>
                  <ul class="menu__sub-list list-reset">
                    <li class="menu__sub-item">
                      <a href="" class="menu__sub-link">Product #1</a>
                    </li>
                    <li class="menu__sub-item">
                      <a href="" class="menu__sub-link">Product #2</a>
                    </li>
                    <li class="menu__sub-item">
                      <a href="" class="menu__sub-link">Product #3</a>
                    </li>
                    <li class="menu__sub-item">
                      <a href="" class="menu__sub-link">Product #4</a>
                    </li>
                  </ul>
                </li>
                <li class="menu__item">
                  <a href="" class="menu__link">Rooms</a>
                  <button data-spoller type="button" class="menu__arrow btn-reset">
                    <svg class="icon icon--arrow-down">
                      <use xlink:href="#icon--arrow-down"></use>
                    </svg>
                  </button>
                  <ul class="menu__sub-list list-reset">
                    <li class="menu__sub-item">
                      <a href="" class="menu__sub-link">Room #1</a>
                    </li>
                    <li class="menu__sub-item">
                      <a href="" class="menu__sub-link">Room #2</a>
                    </li>
                    <li class="menu__sub-item">
                      <a href="" class="menu__sub-link">Room #3</a>
                    </li>
                    <li class="menu__sub-item">
                      <a href="" class="menu__sub-link">Room #4</a>
                    </li>
                  </ul>
                </li>
                <li class="menu__item">
                  <a href="" class="menu__link">Inspirations</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="header__search">
          <div class="search-form">
            <button type="button" class="btn-reset search-form__icon">
              <svg class="icon icon--search">
                <use xlink:href="#icon--search"></use>
              </svg>
            </button>
            <form action="#" class="search-form__item">
              <button type="submit" class="btn-reset search-form__btn">
                <svg class="icon icon--search">
                  <use xlink:href="#icon--search"></use>
                </svg>
              </button>
              <input autocomplete="off" type="text" name="form[]" data-value="Search for minimalist chair"
                class="search-form__input">
            </form>
          </div>
        </div>
        <div class="header__actions actions-header">
          <a href="" class="actions-header__item actions-header__item_favorites">
            <svg class="icon icon--like">
              <use xlink:href="#icon--like"></use>
            </svg>
          </a>
          <div class="actions-header__item cart-header">
            <a href="" class="cart-header__icon">
              <svg class="icon icon--arr">
                <use xlink:href="#icon--arr"></use>
              </svg>
            </a>
            <div class="cart-header__body">
              <ul class="cart-header__list cart-list"></ul>
            </div>
          </div>
		  <div class="top-actions__maps">
            <svg class="icon icon--map-pin">
              <use xlink:href="#icon--map-pin"></use>
            </svg>
            <span>Ваш город:</span>
            <button class="btn-reset modal-btn" href="" data-graph-path="map" data-graph-animation="fadeInUp"
              data-graph-speed="500">Уфа</button>
          </div>

        </div>
        <div class="header-buttons" data-da="menu__body,4,1024,max">
          <a href="#" class="header-buttons__user">
            <img src="img/avatar.jpg" class="avatar" alt="Avatar">
          </a>
          <button class="btn btn-reset">Выйти</button>
        </div>
        <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
  </div>
</header>
