<section class="benefits" id="benefits">
  <div class="_container benefits__container">
    <h2 class="section__title"><span>ПРЕИМУЩЕСТВА РАБОТЫ</span> С НАМИ</h2>
    <div class="benefits__inner">
      <div class="benefit">
        <p class="benefit__text">Инженерно-проектный отдел с опытом работы 20 лет</p>
      </div>
      <div class="benefit">
        <p class="benefit__text">Оптимизация проектов: сокращение затрат на эксплуатацию и закупку</p>
      </div>
      <div class="benefit">
        <p class="benefit__text">Работники со всеми допусками по высоте, сварке и по пожарной безопастности</p>
      </div>
      <div class="benefit">
        <p class="benefit__text">Гарантия на оборудование 3 года, на работы до 10 лет</p>
      </div>
      <div class="benefit">
        <p class="benefit__text">СРО, лицензия МЧС, сварочная и электролаборатория</p>
      </div>
      <div class="benefit">
        <p class="benefit__text">Собственная спецтехника, алмазное бурение, собственные бытовки</p>
      </div>
    </div>
  </div>
</section>
