<section class="contact" id="contact">
  <div class="_container contact__container">
    <h2 class="section__title">КОНТАКТЫ</h2>
  </div>
  <div class="contact-inner">
    <div class="_container contact-inner__container">
      <div class="contact-form__wrapper">
        <p>Отправьте нам свой готовый проект и мы снизим его стоимость за счет инженерных решений.</p>
        <p>Оставьте контактные данные для связи с нашим менеджером.</p>
        <form action="#" class="contact-form" role="form">
          <input type="hidden" name="theme" value="Обратный звонок">
          <input type="hidden" name="admin_email[]" value="">
          <input type="hidden" name="form_subject" value="Заявка с сайта">
          <label class="contact-form__label">
            <input type="text" name="Имя" class="contact-form__input" placeholder="Имя" data-validate-field="name">
          </label>
          <label class="contact-form__label">
            <input type="phone" name="Телефон" class="contact-form__input input-phone" placeholder="Телефон" data-validate-field="phone">
          </label>
          <button type="submit" class="btn btn-reset contact-form__btn">Отравить заявку</button>
        </form>
      </div>

      <div class="contact__content">
        <address>
          г. Вологда, ул. пр. Победы д.20, 2 этаж
        </address>
        <div class="contact__links">
          <p>Для поставщиков:</p>
          <a href="tel:+78172502750" class="link tel-link contact-link">8 (8172) 50-27-50</a>
          <a href="mailto:rno@vestroy.ru" class="link mail-link contact-link">rno@vestroy.ru</a>
        </div>
        <div class="contact__links">
          <p>Отдел продаж:</p>
          <a href="tel:+78002010435" class="link tel-link contact-link">8 (800) 201-04-35</a>
          <a href="mailto:vent35@yandex.ru" class="link mail-link contact-link">vent35@yandex.ru</a>
        </div>
      </div>
    </div>
  </div>
</section>
