<header class="header">
  <div class="header__wrapper">
    <div class="header__container _container">
      <div class="header__body">
        <a href="/" class="header__logo">
          <img src="img/logo.svg" alt="logo">
        </a>
        <nav class="nav" aria-label="Верхнее меню" role="navigation" data-menu>
          <ul class="nav__list list-reset">
            <li class="nav__item"><a href="#jobs" class="nav__link active">Виды работ</a></li>
            <li class="nav__item"><a href="#certificates" class="nav__link">Сертификаты</a></li>
            <li class="nav__item"><a href="#objects" class="nav__link">Выполненные объекты</a></li>
            <li class="nav__item"><a href="#about" class="nav__link">О компании</a></li>
            <li class="nav__item"><a href="#contact" class="nav__link">Контакты</a></li>
          </ul>
        </nav>

        <div class="header__contacts">
          <a href="tel:+78002010435" class="link header-link link-tel">8(800) 201-04-35</a>
          <a href="mailto:vent35@yandex.ru" class="link header-link link-mail">vent35@yandex.ru</a>
        </div>

        <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
  </div>
</header>
