<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon96.png">
  <link rel="icon" type="image/png" sizes="192x192" href="img/favicon192.png">
  <link rel="apple-touch-icon" type="image/png" sizes="57x57" href="img/apple-icom-57.png">
  <link rel="apple-touch-icon" type="image/png" sizes="60x60" href="img/apple-icom-60.png">
  <link rel="apple-touch-icon" type="image/png" sizes="72x72" href="img/apple-icom-72.png">
  <link rel="apple-touch-icon" type="image/png" sizes="76x76" href="img/apple-icom-76.png">
  <link rel="apple-touch-icon" type="image/png" sizes="114x114" href="img/apple-icom-114.png">
  <link rel="apple-touch-icon" type="image/png" sizes="120x120" href="img/apple-icom-120.png">
  <link rel="apple-touch-icon" type="image/png" sizes="144x144" href="img/apple-icom-144.png">
  <link rel="apple-touch-icon" type="image/png" sizes="152x152" href="img/apple-icom-152.png">
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="img/apple-icom-180.png">
  <title>@title</title>
  <meta name="theme-color" content="#252424">
  <meta name="msapplication-navbutton-color" content="#252424">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="preload" href="fonts/Oswald-Regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="css/vendor.css">
  <link rel="stylesheet" href="css/main.css">
  <meta name="keywords" lang="ru" content="слова, слова">
  <meta name="description" lang="ru" content="Описание">
  <script src="js/main.js" defer></script>
</head>
