<section class="jobs" id="jobs">
  <div class="_container jobs__container">
    <div class="section__title">ВИДЫ РАБОТ</div>
    <div class="jobs__inner">
      <div class="tabs" data-tabs="jobs" role="tab">
        <ul class="tabs__nav list-reset" role="tablist">
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn" type="button">Вентиляция</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn" type="button">Кондиционирование</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn" type="button">Акты ВДПО</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn" type="button">Аспирация и Пневмотранспорт</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn" type="button">Дымоудаление</button>
          </li>
          <li class="tabs__nav-item">
            <button class="tabs__nav-btn" type="button">Огнезащита зданий и сооружений</button>
          </li>
        </ul>
        <div class="tabs__content" role="tabpanel">
          <div class="tabs__panel">
            <picture>
                <source srcset="./img/jobs/01.avif" type="image/avif">
                <source srcset="./img/jobs/01.webp, ./img/jobs/01-2x.webp 2x" type="image/webp">
                <!-- пример картинки для определенного разрешения  -->
                <source srcset="./img/jobs/01-992.webp" type="image/webp" media="(max-width: 992px)">
                <img src="./img/jobs/01.jpg" srcset="./img/jobs/01-2x.jpg 2x" width="1080" height="644" alt="01" class="image" loading="lazy">
            </picture>
            <div class="tabs__panel-box">
              <p>Компания «Вентиляциястрой» готова предложить монтаж промышленных и бытовых систем вентиляции любой сложности, с соблюдением всех правил ведения работ на объекте и в строгом соответствии с графиком производства работ. Авторский технический надзор и ежедневный отчет о работах.</p>
              <p>Для того чтобы произвести точный расчет системы вентиляции обратитесь к менеджерам компании «Вестрой». При заказе работ у нас проектирование вы получите бесплатно.</p>
              <div class="jobs-btn__box">
                <button class="btn btn-reset jobs-btn" data-graph-path="calculator">Калькулятор</button>
                <button class="btn btn-reset jobs-btn btn-accent" data-graph-path="consultation">Консультация</button>
              </div>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="tabs__panel-box">
              <p>Компания «Вентиляциястрой» готова предложить монтаж промышленных и бытовых систем кондиционирования любой сложности, с соблюдением всех правил ведения работ на объекте и в строгом соответствии с графиком производства работ. Авторский технический надзор и ежедневный отчет о работах.</p>
              <div class="jobs-btn__box">
                <button class="btn btn-reset jobs-btn" data-graph-path="calculator">Калькулятор</button>
                <button class="btn btn-reset jobs-btn btn-accent" data-graph-path="consultation">Консультация</button>
              </div>
            </div>
          </div>
          <div class="tabs__panel">
            <div class="tabs__panel-box"><p>Акты ВДПО</p></div>
          </div>
          <div class="tabs__panel">
            <div class="tabs__panel-box"><p>Аспирация и Пневмотранспорт</p></div>
          </div>
          <div class="tabs__panel">
            <div class="tabs__panel-box"><p>Дымоудаление</p></div>
          </div>
          <div class="tabs__panel">
            <div class="tabs__panel-box"><p>Огнезащита зданий и сооружений</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
